**.bak
dot/.tmux/plugins/tmux-powerkit/
**/lazy-lock.json
dot/.config/fcitx5/conf/
dot/.gnupg/.*
dot/.gnupg/private-keys*
dot/.gnupg/pubring.kbx*
dot/.gnupg/trustdb.gpg
**/package-lock.json
**/__pycache__
# Installed my herdr --skill
dot/.config/opencode/plugins/herdr-agent-state.js
dot/.pi/agent/extensions/herdr-agent-state.ts
dot/.config/opencode/herdr-tui-session.js
dot/.config/opencode/tui.jsonc
.pi/subagents
