# Software installation configuration
software:
  nodejs:
    version: "20.13.1"
    platform_template: "node-v{version}-linux-x64"
    archive_extension: ".tar.xz"
    install_path: "$HOME/.bin"
    binary_path: "bin/node"
    version_check:
      command: "{install_path}/{platform_template}/bin/node -v"
      regex: "^v([0-9]+\\.[0-9]+\\.[0-9]+)"
    source_dir: "archives"

  neovim:
    version: "0.11.5"
    platform_template: "nvim-linux-x86_64"
    archive_template: "nvim-{version}-linux-x86_64"
    archive_extension: ".tar.gz"
    install_path: "$HOME/.bin"
    binary_path: "bin/nvim"
    source_dir: "archives"
    version_check:
      command: "{install_path}/{platform_template}/bin/nvim -v"
      regex: "^NVIM v([0-9]+\\.[0-9]+\\.[0-9]+)"
    pre_install:
      - "killall nvim || true"

  git_credential_manager:
    archive: "archives/gcm-linux_amd64.2.5.0.deb"
    check_path: "/usr/local/bin/git-credential-manager"
    install_command: "sudo dpkg -i {archive}"
    post_install:
      - "pass init {gpg_keyid}"
    conditions:
      - "not work_install"

  git_delta:
    version: "0.18.2"
    download_url: "https://github.com/dandavison/delta/releases/download/{version}/git-delta_{version}_amd64.deb"
    archive: "archives/git-delta_{version}_amd64.deb"
    check_path: "/usr/local/bin/delta"
    install_command: "sudo dpkg -i {archive}"

  oh_my_zsh:
    check_path: "$HOME/.oh-my-zsh"
    install_command: 'sh -c "$(curl -fsSL https://raw.githubusercontent.com/ohmyzsh/ohmyzsh/master/tools/install.sh)" "" --unattended'

# Global software configuration
global:
  gpg_keyid: "ED0DFB79FF83B277"
